<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="hero">
    <h1>Bienvenido a EcoRide Electriks</h1>
    <p>La empresa líder en movilidad eléctrica personal en Latinoamérica.</p>
    <a href="/products"><button class="btn">Explorar Productos</button></a>
</div>
<!-- <div class="productos-destacados">
    <h2>Productos Destacados</h2>
    <div class="productos">
        <div class="producto">
            <img src="assets/product1.webp" alt="Producto 1">
            <h3>EcoRide Scooter</h3>
            <p>Movilidad eficiente y ecológica.</p>
        </div>
        <div class="producto">
            <img src="assets/product2.png" alt="Producto 2">
            <h3>EcoRide Bike</h3>
            <p>La bicicleta eléctrica más avanzada.</p>
        </div>
        <div class="producto">
            <img src="assets/product3.webp" alt="Producto 3">
            <h3>EcoRide Hoverboard</h3>
            <p>Estilo y tecnología en movimiento.</p>
        </div>
    </div>
</div> -->
<div class="redes-sociales">
    <a href="#" class="red-social" style="--color:#0072b1">
        <i class="fab fa-linkedin-in"></i>
    </a>
    <a href="#" class="red-social" style="--color: #E1306C">
        <i class="fab fa-instagram"></i>
    </a>
    <a href="#" class="red-social" style="--color: #FF0050">
        <i class="fab fa-tiktok"></i>
    </a>
    <a href="#" class="red-social" style="--color: #426782">
        <i class="fab fa-facebook-f"></i>
    </a>
</div>